<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worldradio.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <application
        android:label="World Radio"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:supportsPictureInPicture="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- This meta-data is required for the v2 embedding -->
            <meta-data
                android:name="flutterEmbedding"
                android:value="2" />
                
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme" />
              
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc" />
        
        <receiver android:name=".RadioWidgetProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.worldradio.app.PLAY_PAUSE" />
                <action android:name="com.worldradio.app.NEXT" />
                <action android:name="com.worldradio.app.PREVIOUS" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/radio_widget_info" />
        </receiver>
    </application>
</manifest>
